*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

p{
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 300px;
}

input{
    border: 1px solid black;
}

ection, main{
    border: 1px solid black;
}